// Variables
$background: aliceblue;
$baseFont: oblique 1em sans-serif;
$leftMargin: 50px;
$padding: 10px;

// Mixin
@mixin borders($weight, $color, $radius)
{
    border: $weight solid $color;
    border-radius: $radius;
}


header {
    @include borders(2px, #064277, 20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $background;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font: $baseFont;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    @include borders(2px, #064277, 20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $background;
}

#list{
    @include borders(2px, #064277, 20px);
    background-color: $background;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $leftMargin;
    color:#58a0e0
}

ul{
    margin-left: $leftMargin;
}

p{
    font-family: serif;
    font-style:normal;

    &#footer {
        font-size: .75em;
        font-style:italic;
        font-weight: bold;
        color: #064277;
        text-align: center;
    }

    &.samplepara {
        @include borders(3px, #58a0e0, 5px);
        padding: $padding;
        background-color: white;
    }
}

footer {
    @include borders(2px, #064277, 20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $background;
}